/source/node_modules
/source/public/hot
/source/public/storage
/source/storage/*.key
/source/vendor
/source/.idea
/source/.vagrant
/source/Homestead.json
/source/Homestead.yaml
/source/npm-debug.log
/source/yarn-error.log
/source/.env
/mysql/
